.action {
  background-color: $primary-color;
  padding: 96px 24px;


  .action-content {
    max-width: 896px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .action-slogan {
      @include slogan($primary-font-brown);
    }

    .action-callout {
      padding-top: 16px;
      font-family: $secondary-font;
      font-weight: 600;
      color: $primary-font-white;
      font-size: 44px;
    }

    .action-tagline {
      max-width: 500px;
      padding-top: 20px;
      font-size: 17.6px;
      color: $alternate-font-grey;
      line-height: 29.92px;
      text-align: center;
    }

    .action-btn-holder {
      max-width: 848px;
      display: flex;
      gap: 16px;
      justify-content: center;
      padding-top: 20px;

      .btn-primary {
        @include button-style($primary-font-brown, $primary-font-black);
      }

      .btn-secondary {
        @include outline-button-style($primary-font-white);
      }
    }
  }
}

@media (max-width: 1300px) {
  .action {
    
    .action-content {
      .action-slogan {
      }

      .action-callout {
        font-size: 28px;
        text-align: center;
      }

      .action-tagline {
        font-size: 16px;
      }

      .action-btn-holder {
        flex-direction: column;
        .btn-primary {
        }

        .btn-secondary {
        }
      }
    }
  }
}
