* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  min-height: 100%;
  font-family: "Inter", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 16px;
}

a {
  text-decoration: none;
}

// .center-content {
//   width: 1280px;
//   margin: 0 auto;
// }

.center-content {
  max-width: $site-max-width;
  margin: 0 auto;
}

// @media (max-width: 1325px) {
//   .hero-content, .adventure, .reviews-cards, .footer-content, .promise{
//     padding: 24px;
//   }
// }


