footer {
  background-color: #111710;
  padding-top: 80px;
  min-height: 476px;

  .footer-content {
    display: flex;
    justify-content: space-between;

    .footer-box {
    //   min-height: 248.58px;
      width: 208px;

      .footer-box-title-holder {
        padding-bottom: 20px;
        font-weight: 600;
        font-family: "Roboto Slab", sans-serif; 
        color: $primary-font-white;
        display: flex;
        gap: 10px;
        align-items: center;

        .footer-box-title-img-holder {
          height: 34px;
          width: 34px;
          border-radius: 8px;
          background-image: url(../images/pine-tree-fullbg.png);
          background-position: center;
          background-repeat: none;
          background-size: cover;
        }
      }

      .footer-button-holder {
        padding-top: 16px;
        display: flex;
        flex-direction: column;
        gap: 8px;

        .email-input {
          height: 43px;
          border-radius: $border-radius;
          background-color: #f5f0e814;
          border: 1px solid #c4a88240;
          display: flex;
          padding: 12px 14px;
          color: $primary-font-grey;
          font-size: 14px;
          line-height: 100%;
        }

        .subscribe-btn {
          height: 43px;
          border-radius: $border-radius;
          background-color: $primary-color;
          padding: 12px 14px;
          font-size: 14px;
          line-height: 21px;
          font-weight: 600;
          display: flex;
          justify-content: center;
          align-items: center;

          &:hover {
            opacity: 0.9;
            color: $primary-font-white;
            text-decoration: underline;
          }

          a {
            text-decoration: none;
            color: $primary-font-white;
          }
        }
      }

      .footer-box-anchor-holder {
        display: flex;
        flex-direction: column;
        gap: 11.2px;

        a {
          font-size: 14px;
          line-height: 24px;
          color: $primary-font-grey;

          &:hover {
            opacity: 0.9;
            color: $primary-font-white;
            text-decoration: underline;
          }
        }
      }

      .footer-box-content {
        font-size: 14px;
        line-height: 23.8px;
        color: $primary-font-grey;

        .contact-holder {
          padding-top: 24px;
          display: flex;
          flex-direction: column;
          gap: 10px;

          .contact-item-holder {
            display: flex;
            gap: 8px;
            align-items: center;

            .contact-img-1 {
              @include contact-images(url(../images/phone.png));
            }

            .contact-img-2 {
              @include contact-images(url(../images/email.png));
            }

            .contact-img-3 {
              @include contact-images(url(../images/gps.png));
            }

            .contact-item {
              font-size: 13px;
              color: $primary-font-grey;
            }
          }
        }
      }
    }
  }
  .copyright-holder {
    height: 52px;
    border-top: 1px solid #c4a8821f;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    // justify-content: space-between;
    margin-top: 64px;
    padding-top: 33px;

    .copyright {
      font-size: 12.8px;
      color: $footer-font-color;
    }

    .copyright-links {
      display: flex;
      gap: 24px;
      justify-content: flex-end;
    }

    a {
      font-size: 12.8px;
      color: $footer-font-color;

      &:hover {
        opacity: 0.9;
        color: $primary-font-white;
        text-decoration: underline;
      }
    }
  }
}

@media (max-width: 1300px) {
  footer {
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 32px;
    .footer-content {
        flex-direction: column;
        gap: 48px;
      .footer-box {
        width: 335px;
        .footer-box-title-holder {
          .footer-box-title-img-holder {
          }
        }

        .footer-button-holder {
          .email-input {
          }

          .subscribe-btn {
            &:hover {
            }

            a {
              text-decoration: none;
              color: $primary-font-white;
            }
          }
        }

        .footer-box-anchor-holder {
          a {
            &:hover {
            }
          }
        }

        .footer-box-content {
          .contact-holder {
            .contact-item-holder {
              .contact-img-1 {
              }

              .contact-img-2 {
              }

              .contact-img-3 {
              }

              .contact-item {
              }
            }
          }
        }
      }
    }
    .copyright-holder {
        grid-template-columns: repeat(1, 1fr);
        gap: 16px;
        padding-bottom: 32px;
      .copyright {
      }

      .copyright-links {
        justify-content: flex-start;
        gap: 23px;
      }

      a {
        &:hover {
        }
      }
    }
  }
}
